/* Will work on styling after some of the core functionality is working */
.site-title {
    text-decoration: none;
    color: white;
}

.home {
    padding-top: 2vh;
}

.card-container {
    border: 3px solid red;
    margin: 2vh 2vh;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.board {
    display: flex;
    flex-direction: column;

    border: 3px solid red;
    min-height: 80vh;
}

.board-header {
    text-align: center;
    padding-bottom: 0.5vh;
    padding-top: 2vh;
}
